<%= turbo_stream.replace 'weather' do %>
  <%= turbo_frame_tag 'weather' do %>
    <% if @error %>
      <p class="p-3 mb-2 bg-warning text-dark"><%= @error %></p>
    <% else %>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th>Address</th>
            <td><%= @location.address %></td>
          </tr>
          <tr class="invisible">
            <th>Coordinates</th>
            <td><%= @location.coordinates.join(', ') %></td>
          </tr>
          <tr>
            <th>Current Temperature</th>
            <td><%= @forecast.current_temperature %> 째F</td>
          </tr>
          <tr>
            <th>High Temperature</th>
            <td><%= @forecast.high_temperature %> 째F</td>
          </tr>
          <tr>
            <th>Low Temperature</th>
            <td><%= @forecast.low_temperature %> 째F</td>
          </tr>
        </tbody>
      </table>
      <h3>Extended forecast:</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Date and Time</th>
            <th>Temperature</th>
            <th>Weather</th>
          </tr>
        </thead>
        <tbody>
          <% @forecast.five_day_forecast.each do |f| %>
            <tr>
              <td><%= f[:date] %></td>
              <td><%= f[:temp] %> 째F</td>
              <td><%= f[:description] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <p class="bg-info p-2"><strong>Data fetched from:</strong> <%= @from_cache ? 'Cache' : 'API' %></p>
    <% end %>
  <% end %>
<% end %>
