<%= turbo_stream.replace 'weather' do %>
  <%= turbo_frame_tag 'weather' do %>
    <% if @error %>
      <p><%= @error %></p>
    <% else %>
      <p>Address: <%= @location.address %></p>
      <p>Coordinates: <%= @location.coordinates.join(', ') %></p>
      <p>Current Temperature: <%= @forecast.current_temperature %> 째F</p>
      <p>High Temperature: <%= @forecast.high_temperature %> 째F</p>
      <p>Low Temperature: <%= @forecast.low_temperature %> 째F</p>
      <h3>Extended forecast:</h3>
      <% @forecast.five_day_forecast.each do |f| %>
        <p>
          Date and Time: <%= f[:date] %> <br>
          Temperature: <%= f[:temp] %> 째F <br>
          Weather: <%= f[:description] %>
        </p>
      <% end %>
      <p>Data fetched from: <%= @from_cache ? 'Cache' : 'API' %></p>
    <% end %>
  <% end %>
<% end %>
